@font-face {
  font-family: Whitney;
  src: url("https://richaardev.vercel.app/assets/fonts/whitney-300.woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Whitney;
  src: url("https://richaardev.vercel.app/assets/fonts/whitney-400.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Whitney;
  src: url("https://richaardev.vercel.app/assets/fonts/whitney-500.woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Whitney;
  src: url("https://richaardev.vercel.app/assets/fonts/whitney-600.woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Whitney;
  src: url("https://richaardev.vercel.app/assets/fonts/whitney-700.woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
