.message-container {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    background-color: var(--background-primary);
    color: var(--text-normal);
    margin-top: 17px;
}
.message-container:hover {
    background-color: var(--background-message-hover);
}
.message-container.hasMention {
    background-color: var(--background-mentioned);
}
.message-container.hasMention::before {
    background-color: var(--info-warning-foreground);
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 2px;
}
.message-container.hasMention:hover {
    background-color: hsla(
        38,
        calc(var(--saturation-factor, 1) * 95.7%),
        54.1%,
        0.08
    );
}
.message-contents {
    position: relative;
    padding-left: 72px;
    padding-right: 48px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.message-header {
    line-height: 22px;
    height: 22px;
    white-space: break-spaces;
}
.message-author-avatar {
    position: absolute;
    left: 16px;
    width: 40px;
    border-radius: 50%;
    margin-top: 2px;
    cursor: pointer;
}
.message-author-avatar:active {
    transform: translateY(1px);
}
.message-author-username {
    font-size: 16px;
    margin-right: 4px;
    color: var(--header-primary);
    font-weight: 500;
}
.message-bot-tag {
    position: relative;
    display: inline-flex;
    vertical-align: top;
    flex-shrink: 0;
    text-indent: 0;
    background-color: var(--brand-experiment);
    color: #fff;
    height: 15px;
    padding: 0 4px;
    margin: 1px 0 0 4px;
    border-radius: 3px;
}
.message-bot-verified {
    margin-left: -4px;
}
.message-bot-text {
    line-height: 15px;
    font-size: 10px;
    font-weight: 500;
}
.message-timestamp {
    font-size: 12px;
    margin-left: 4px;
    color: var(--text-muted);
    font-weight: 500;
}
.message-content {
    line-height: 22px;
}
.message-acessories {
    padding: 2px 0px;
}
